/*Extra dispositivos pequenos(phones, 600px para baixo)*/
@media only screen and (max-width: 600px){
    
/************************************
***         Tela de login         ***
*************************************/
    body#corpo-login{
        display: grid;
        grid-template-rows: max-content 1fr;
    }

    header{
        height: 60px;
    }

    header img{
        object-fit: scale-down;
        height: 70%;
        margin: auto;
    }

    .cabecalho-login{
        display: grid;
        row-gap: 8px;
    }

    main{
        box-sizing: border-box;
        padding: 50px 30px;
    }

    section#lado-esquerdo{
        display: grid;
        grid-template-rows: max-content 1fr;
        height: 100%;
    }

    div#lado-direito{
        display: none;
    }

    form {
        display: grid;
        
        font-size: 11pt;
        margin-top: 50px;
    }

    #corpo-login fieldset:not(#corpo-login fieldset:first-of-type){
        margin-top: 20px;
    }

    #corpo-login fieldset input:not([type="checkbox"], [type="radio"]){
        height: 25px;
        line-height: 25px;
        margin-top: 4px;
    }

    .outras-opcoes-login{
        display: flex;
    }
    .outras-opcoes-login a{
        display: none;
    }

    .botao-vermelho{
        margin-top: auto;
    }

    #lado-esquerdo form > a:last-of-type{
        display: flex;
        text-decoration: underline;
        margin: 15px auto 0;
    }
  }
  
  /*Dispositivos pequenos(Tablets e telefones largos, min. 600px)*/
  @media only screen and (min-width: 600px){
  }
  
  /*Dispositivos médios(landscape tablets, 768px para cima)*/
  @media only screen and (min-width: 768px){
  }
  
  /*Dispositivos largos(laptops/desktops, 992px para cima)*/
  @media only screen and (min-width: 992px){
  }
  
  /*Extra dispositivos largos laptops e desktops de 1200px para cima*/
  @media only screen and (min-width: 1200px){
  }
  